<div class="jumbotron">
  <h1>Find Your Project</h1>
  <p class="lead">
    <pre>Currently Selected Project: {{projectName | json}}</pre>
    <div class='container-fluid' ng-controller="TypeaheadCtrl">
      <input type="text" ng-model="projectNumber" placeholder="Start typing your project number..." typeahead="select for select in getProjectNumber($viewValue)" typeahead-loading="loadingProjectNumber" class="form-control">
      <i ng-show="loadingProjectNumber" class="glyphicon glyphicon-refresh"></i>
      <input type="text" ng-model="orgCode" placeholder="Start typing your organization code..." typeahead="select for select in getOrgCode($viewValue)" typeahead-loading="loadingOrgCode" class="form-control">
      <i ng-show="loadingOrgCode" class="glyphicon glyphicon-refresh"></i>
      <input type="text" ng-model="projectDate" placeholder="Start typing the project reporting month end" typeahead="address for address in getLocation($viewValue)" typeahead-loading="loadingProjectDate" class="form-control">
      <i ng-show="loadingProjectDate" class="glyphicon glyphicon-refresh"></i>
      <br>
      <a class="btn btn-lg btn-danger" ng-class="successVar" ng-href="#" ng-model="successButton">Project Data Required!<span ng-class="glyphVar"></span></a>
    </div>
  </p>
</div>

<div class="row marketing">
  <h4>Don't worry, just type.</h4>
  <p>
    This application is trying to get you to to your data quick.  Type what you know and we'll figure it out. And don't worry, we'll only save what you meant to save.
  </p>
</div>
